= render "header"
= form_with model: [@request], local: true do |form|
  .Base
    .Base__Textbox
      .Base__Textbox__Subtitle
        基本情報
      = form.text_field :title, placeholder: "タイトル", class: "Base__Textbox__Text-field"
      = form.text_area :message, placeholder: "内容", class: "Base__Textbox__Text-area"
      .Base__Textbox__Deadline
        希望納期:
        = form.datetime_select :deadline, {}, class: "Base__Textbox__Deadline__Pulldown"
    .Base__Pass
      .Base__Pass__Subtitle
        承認者一覧
      = form.fields_for :pass, @request.pass do |user|
        .Base__Pass__pulldown
          .Base__Pass__pulldown__first_user
            第1承認者 ：
            = user.collection_select :first_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__second_user
            第2承認者 ：
            = user.collection_select :second_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__third_user
            第3承認者 ：
            = user.collection_select :third_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__final_user
            最終承認者：
            = user.collection_select :final_user_id, User.all, :id, :name, include_blank: true
  .Type
    .Type__Admission
      入場許可
    .Type__Approval
      書類承認
  = form.fields_for :admission, @request.admission do |i|
    .Form__Adomission
      .Form__Adomission__Child
        .Form__Adomission__Child__Subtitle
          作業情報
        = i.text_field :title, placeholder: "作業名", class: "Form__Adomission__Child__Text-field"
        .Form__Adomission__Child__Datetime-Start
          作業開始日時:
          = i.datetime_select :start, {}, class: "Form__Adomission__Child__Datetime-Start__Pulldown"
        .Form__Adomission__Child__Datetime-Finish
          作業終了日時:
          = i.datetime_select :finish, {}, class: 'Form__Adomission__Child__Datetime-Finish__Pulldown'
        = i.text_area :detail, placeholder: "作業内容", class: "Form__Adomission__Child__Text-area"
        = i.text_field :prace, placeholder: "場所", class: "Form__Adomission__Child__Text-field"
        .Form__Adomission__Child__Check-box
          高所作業：
          = i.check_box :aerial, class: "Form__Adomission__Child__Check-box__Aerial"
        .Form__Adomission__Child__Check-box
          火器使用：
          = i.check_box :firearm, class: "Form__Adomission__Child__Check-box__Firearm"    
      .Form__Adomission__Child
        .Form__Adomission__Child__Subtitle
          作業者情報
        = i.text_field :campany, placeholder: "会社名", class: "Form__Adomission__Child__Text-field"
        = i.text_field :representative, placeholder: "代表者名", class: "Form__Adomission__Child__Text-field"
        = i.text_field :tell, placeholder: "000-0000-0000", class: "Form__Adomission__Child__Text-field"
        = i.text_field :worker1, placeholder: "作業者1", class: "Form__Adomission__Child__Text-field"
        = i.text_field :worker2, placeholder: "作業者2", class: "Form__Adomission__Child__Text-field"
        = i.text_field :worker3, placeholder: "作業者3", class: "Form__Adomission__Child__Text-field"
        = i.text_field :worker4, placeholder: "作業者4", class: "Form__Adomission__Child__Text-field"
        = i.text_area :notice, placeholder: "特記事項", class: "Form__Adomission__Child__Text-area"
  - if (@request.user_id == current_user.id)&&(@request.status == 1)
    = form.submit value: "登録", class: "Form__Send"
  - elsif (@request.user_id == current_user.id)&&(@request.status == 3)
    = form.submit value: "再登録", class: "Form__Send"
  - elsif @request.status == 2
  - else
    .Btn_box
      = link_to approve_request_path(params[:id]) do
        承認        
    .Btn_box
      = link_to unapprove_request_path(params[:id]) do
        否認