= javascript_include_tag 'new'
= render "header"
= form_with model: [@request], local: true do |form|
  .Base
    .Base__Textbox
      .Base__Textbox__Subtitle
        基本情報
      = form.text_field :title, placeholder: "タイトル", class: "Base__Textbox__Text-field"
      = form.text_area :message, placeholder: "内容", class: "Base__Textbox__Text-area"
      .Base__Textbox__Deadline
        希望納期:
        = form.datetime_select :deadline, {}, class: "Base__Textbox__Deadline__Pulldown"
    .Base__Pass
      .Base__Pass__Subtitle
        承認者一覧
      = form.fields_for :pass, @request.pass do |user|
        .Base__Pass__pulldown
          .Base__Pass__pulldown__first_user
            第1承認者 ：
            = user.collection_select :first_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__second_user
            第2承認者 ：
            = user.collection_select :second_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__third_user
            第3承認者 ：
            = user.collection_select :third_user_id, User.all, :id, :name, include_blank: true
          .Base__Pass__pulldown__final_user
            最終承認者：
            = user.collection_select :final_user_id, User.all, :id, :name, include_blank: true
  .Type
    %button{type: "button", class: "Type__Admission Active", id: "Admission" }
      入場許可
    %button{type: "button", class: "Type__Document", id: "Document" }
      書類承認
  = form.fields_for :admission, @request.admission do |i|
    .Form
      .Form__Admission
        .Form__Admission__Child
          .Form__Admission__Child__Subtitle
            作業情報
          .Form__Admission__Child__Datetime-Start
            作業開始日時:
            = i.datetime_select :start, {}, class: "Form__Admission__Child__Datetime-Start__Pulldown"
          .Form__Admission__Child__Datetime-Finish
            作業終了日時:
            = i.datetime_select :finish, {}, class: 'Form__Admission__Child__Datetime-Finish__Pulldown'
          = i.text_field :prace, placeholder: "場所", class: "Form__Admission__Child__Text-field"
          .Form__Admission__Child__Check-box
            高所作業：
            = i.check_box :aerial, class: "Form__Admission__Child__Check-box__Aerial"
          .Form__Admission__Child__Check-box
            火器使用：
            = i.check_box :firearm, class: "Form__Admission__Child__Check-box__Firearm"    
          .Form__Admission__Child__Check-box
            = i.text_area :notice, placeholder: "特記事項", class: "Form__Admission__Child__Text-area"
        .Form__Admission__Child
          .Form__Admission__Child__Subtitle
            作業者情報
          = i.text_field :campany, placeholder: "会社名", class: "Form__Admission__Child__Text-field"
          = i.text_field :representative, placeholder: "代表者名", class: "Form__Admission__Child__Text-field"
          = i.text_field :tell, placeholder: "000-0000-0000", class: "Form__Admission__Child__Text-field"
          = i.text_field :worker1, placeholder: "作業者1", class: "Form__Admission__Child__Text-field"
          = i.text_field :worker2, placeholder: "作業者2", class: "Form__Admission__Child__Text-field"
          = i.text_field :worker3, placeholder: "作業者3", class: "Form__Admission__Child__Text-field"
          = i.text_field :worker4, placeholder: "作業者4", class: "Form__Admission__Child__Text-field"
    .Form__Document
      = image_tag @request.pdf.url, width: "112", height: "112", alt: "preview"
      %label{for: "pdf", class: "Form__Document--btn", id: "label-btn"}
        %pre.label-box__text-visible 画像を変更
        = form.file_field :pdf, id: "pdf", class: "Hide-field"
  - if (@request.user_id == current_user.id)&&(@request.status == 1)
    = form.submit value: "登録", class: "Form__Send"
  - elsif (@request.user_id == current_user.id)&&(@request.status == 3)
    = form.submit value: "再登録", class: "Form__Send"
  - elsif @request.status == 2
  - else
    .Btn_box
      .Btn_box__Btn
        = link_to approve_request_path(params[:id]) do
          承認        
      .Btn_box__Btn
        = link_to unapprove_request_path(params[:id]) do
          否認