= render "header"
.Body
  .Switch
    .Switch__Request
      Request
    .Switch__Approve
      Approve
  = link_to "New request", new_request_path, class: "New-request"
  .Request
    .Request__Unapproved
      .Request__Unapproved__Title
        未承認
        %table{border: 1, width: "100%"} 
          .Request__Unapproved__Title__column
            %tr 
              %th{width: "200"} 
                Name
              %th
                Edit 
          - @unapproved.each do |f|
            %tr 
              %th
                = f.title
              %th
                = f.title
    .Request__Approved
      .Request__Approved__Title
        承認済
        %table{border: 1, width: "100%"} 
          .Request__Unapproved__Title__column
            %tr 
              %th{width: "200"} 
                Name
              %th
                Edit 
          - @approved.each do |f|
            %tr 
              %th
                = f.title
              %th
                = f.title
.Footer
